*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #232332;
    background: #8b8b8b;
}

.menu-top {
    width: 100%;
    background: #fff;
    height: 85px;
}

.elements-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.75rem;
    margin: 0% 10% 0% 10%;
    align-items: center;
}

.wrapper {
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
}

a {
    text-decoration: none;
}

nav.navig-one {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.a-top {
    color: #232323;
    font-size: 16px;
    font-weight: 100;
}
.a-top:hover {
    color: #4e4e4e;
}
.elements-top img, .logo img {
    width: 5vh;
}

.logo_topo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.product-text h2 { 
    color: #fff;
    letter-spacing: 15px;
    font-weight: 100;
    width: auto;
    position: relative;

}
.product-text h2::before{
    position: absolute;
    content:"";
    width: 50%;
    height: 2px;
    top: 100%;
    left: 22%;
    background: #fff;
}


.product-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    flex-direction: column;
    gap: 3vh;
}
.product-text p {
    width: 50%;
    text-align: center;
    color: #ccc;
    line-height: 4vh;
}



.product-elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 colunas */
    grid-gap: 5vh 0vh;
    margin: 10vh 0;
    width: 80%;
    align-items: center;
}

.img-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
    background: #fff;
    border-radius: 10vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-container img {
    width: 50%;
    height: 30vh;
    object-fit: contain;
}

.img-container h2 {
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    margin: 10px 25px;
    word-break: break-all;
}

p.price {
    color: #737373;
    margin: 10px 0;
}


article {
    display: flex;
    gap: 7vh;
    position: relative;
}


aside {
    width: 20%;
    background: #6f7f61;
    border-radius: 3vh;
    height: 50vh;
    position: fixed;
    top: 30%;
    left: 78%;
}

aside h2 {
    text-align: center;
    margin: 15px 0;
    color: #fff;
}

aside p {
    padding: 2vh 5vh;
    line-height: 3vh;
    text-align: center;
    color: #ccc;
}
.forms-btn {
    width: 40%;
    height: 5vh;
    margin: 20px 0;
    border-radius: 3vh;
    background: #6f7f61;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
}
footer {
    width: 100%;
    text-align: center;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.social-icons svg {
    width: 30px;
    height: 15px;
}

.footer-elements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    height: auto;
    padding: 5vh;
}
